<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">
        <i class="material-icons">cloud</i>Product Solution</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a (click)="Logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="text-center">
    <h5 class="jumbotron">Product Register</h5>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-product></app-product>
    </div>
    <div class="col-md-9">
      <app-product-list></app-product-list>
    </div>
  </div>
</div>